.ac{
    background-color: gray;
}
.ag{
    background-color: rgb(2, 191, 225);
}
.bi{
    background-color: rgb(143, 210, 42);
}
.dr{
    background-color: blueviolet;
}
.el{
    background-color: rgb(204, 204, 6);
}
.fa{
    background-color: darkblue;
}
.fu{
    background-color: red;
}
.ha{
   background-color: rgb(249, 174, 187); 
}
.hi{
    background-color: rgb(65, 249, 252);
}
.lu{
    background-color: brown;
}
.no{
    background-color: rgb(190, 201, 201);
}
.pl{
    background-color: green;
}
.ps{
    background-color: rgb(164, 38, 164);
}
.ro{
    background-color: chocolate;
}
.si{
    background-color: rgb(40, 24, 1);
}
.ti{
    background-color: rgb(177, 162, 28);
}
.ve{
    background-color: purple;
}
.vo{
    background-color: rgb(0, 132, 214);
}