html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */   
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    line-height: 2;
    background-color: #fff; /* Color de fondo blanco por defecto */
    position: relative; /* Importante para posicionar correctamente el overlay */
    display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.overlay {
    
    background-image: url(../img/fondo.jpg);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    opacity: 0.9;
    z-index: -1; /* Coloca la imagen detrás de otros contenidos */
    filter: brightness(0.2);
}






.header p{
    
    text-align: center;
    color: white;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.footer p{
    
    text-align: center;
    color: white;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    margin: 0;
}
.header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 2, 62);
    height: 6rem;
    margin-bottom: 1rem;
}
.footer{
    margin-top: 12rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 2, 62);
    height: 6rem;
    margin-top: auto;
   
}
.boton{
    display: block;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: 0.25rem solid black;
    border-radius: 1.5rem;
    cursor: pointer;
  transition: transform 0.2s ease; /* Aplica una transición suave a la propiedad transform */
  
  &:hover {
    transform: scale(1.2); /* Aumenta la escala del botón en un 10% */
  }
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Press Start 2P", cursive;
    color: white;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: 0.25rem solid black;
    border-radius: 1.5rem;
    cursor: auto;
    transition: transform 0.2s ease; /* Aplica una transición suave a la propiedad transform */
  }

.contenedor-botones{
    
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        margin: 5rem 10rem;
    }
}


.fortalezas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    @media (min-width: 768px) {
        grid-template-columns: repeat(3,1fr);
    }
    margin-bottom: 2rem;
}

.debilidades{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    @media (min-width: 768px) {
        grid-template-columns: repeat(3,1fr);
    }
    margin-bottom: 2rem;
    
}

.contenedor-todo{
  
    @media (min-width: 768px) {
        margin: 5rem 10rem;
    }
  
}

.texto-grande{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    color: rgb(255, 255, 255);

}